<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Welcome to the Book List</h1>

    <p><a href="/categories">Click here</a> to see all of the categories and to add a category.</p>
    <p><a href="/books">Click here</a> to see all of the books and to add a book.</p>

</body>
</html>
